.list {
  list-style: none;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.listItem {
  margin-bottom: 5px;
  padding-left: 5px;
  width: 220px;
  min-height: 330px;
  scale: 1;
  transition: scale 250ms;
  overflow: unset;
}
.listItem:hover {
  color: rgb(64, 0, 255);
  text-decoration: underline;
  scale: 1.02;
  z-index: 1;
}

.posterIMG {
  width: 220px;
  min-height: 320px;
}
